:root {
    --primary-color: #F0F7F4;
    --secondary-color: #3C493F;
    --accent-color: #228cd8;
    --text-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--primary-color);
}

nav {
    height: 60px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
nav .profile-pic {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
nav .profile-pic span {
    color: white;
    font-size: 1.1rem;
    font-weight: semibold;
}
nav .profile-pic img {
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    border: solid 2px lightgrey;
}
.links-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: medium;
}
nav a:hover {
    background-color: var(--accent-color);
}
#sidebar-active {
    display: none;
}
nav svg {
    fill: white;
}
.open-sidebar-button, .close-sidebar-button {
    padding: 0 20px;
    display: none;
}

@media (max-width: 600px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--secondary-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.7s ease-out;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
    }
    .open-sidebar-button, .close-sidebar-button {
        display: block;
    }
    #sidebar-active:checked ~ .links-container {
        right: 0;
    }
    #sidebar-active:checked ~ .overlay {
        width: 100%;
        height: 100%;
        
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

}