:root {
    --primary-color: #F0F7F4;
    --secondary-color: #3C493F;
    --accent-color: #228cd8;
    --text-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--primary-color);
}

nav {
    height: 60px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    position: sticky;
    top: 0;
    z-index: 10;
}
nav .profile-pic {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
nav .profile-pic span {
    color: white;
    font-size: 1.1rem;
    font-weight: semibold;
}
nav .profile-pic img {
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    border: solid 2px lightgrey;
}
.links-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: medium;
}
nav a:hover {
    background-color: var(--accent-color);
}
#sidebar-active {
    display: none;
}
nav svg {
    fill: white;
}
.open-sidebar-button, .close-sidebar-button {
    padding: 0 20px;
    display: none;
}

main {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container .skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}
.skill-container h1 {
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}
.skill-container .skills {
    display: grid;
    grid-template-columns: repeat(2, 8rem);
    gap: 1rem;
    justify-content: center;
}
.skills span {
    border: solid 1px gray;
    padding: 0.5rem 0.5rem;
    display: flex;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    font-weight: medium;
    border-radius: 0.3rem;
}

.projects-list {
    width: 100%;
    height: 100%;
}
.projects-list .all-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1rem;
    justify-content: center;
}
.projects-list h1 {
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
    text-align: center;
}
.project-card {
    height: 300px;
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.25);
    position: relative;
}
.project-card .image-container {
    height: 100%;
    width: 100%;
}
.image-container img {
    width: 100%;
    height: 100%;
}
.project-card .info {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    top: 200px;
    right: 0;
    left: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.social-icons{
    fill: var(--secondary-color);
}


@media (max-width: 600px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--secondary-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.7s ease-out;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
    }
    .open-sidebar-button, .close-sidebar-button {
        display: block;
    }
    #sidebar-active:checked ~ .links-container {
        right: 0;
    }
    #sidebar-active:checked ~ .overlay {
        width: 100%;
        height: 100%;
        
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

}